@using {{ project }}.Web.Startup
@model {{ project }}.Web.Models.{{ model }}s.{{ model }}ViewModel

@{
    ViewBag.CurrentPageName = PageNames.{{ model }}s;
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>{{ model }}ViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        {% for k,v in vars.items() %}
        <dt>
            @Html.DisplayNameFor({{ model_lower }} => {{ model_lower }}.{{ k }})
        </dt>
        <dd>
            @Html.DisplayFor({{ model_lower }} => {{ model_lower }}.{{ k }})
        </dd>
        {% endfor %}
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
