@using {{ project }}.Web.Startup
@model {{ project }}.Web.Models.{{ model }}s.{{ model }}ListViewModel
@{
    ViewBag.CurrentPageName = PageNames.{{ model }}s;
}

<h2>index</h2>

<a asp-action="Create">Create New</a>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                {% for k,v in vars.items() %}
                <th>@L("{{ k }}")</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            @foreach (var {{ model_lower }} in Model.{{ model }}s)
            {
            <tr>
                {% for k,v in vars.items() %}
                <td>@{{ model_lower }}.{{ k }}</td>
                {% endfor %}
                <td>
                    <a asp-action="Edit" asp-route-id="@{{ model_lower }}.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@{{ model_lower }}.Id">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

